<div class="data">
<div class="container" id="search">
  <form class="form-inline mr-auto ">
      <input
      class="form-control "

          type="text"
          placeholder="Search for Information"
          aria-label="Search"

          name="n1"
          [(ngModel)]="searchstr"
          id="search-box-round"

      />
  </form>
</div>
<table class="table table-striped table-hover">
  <thead>
    <th>ID</th>
    <th>TITLE</th>
    <th>STATUS</th>
    <th>ACTION</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr | paginate:config  |grdFilter: {Title: searchstr}; let i=index">
      <td>{{item.Id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
      <td><button type="submit" class="btn btn-danger" (click)="delete(item)">Delete</button>&nbsp;<button type="submit" (click)="edit(item)" class="btn btn-secondary">Edit</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
